* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #000000;
}

html {
  font-size: 10px;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

/* ///////////////////////////////////SECTION-HERO-START//////////////////////////////////// */

.section_hero {
  background: url('./assest/images/hero_bg.webp');
  min-height: 80rem;
  font-family: 'Roboto Condensed', sans-serif;
  color: var(--white);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding: 2.5rem 0;
}

.nav_left {
  font-size: 2.2rem;
}

.nav_middle {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  gap: 3rem;
}

.hero {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 8rem;
  margin-top: 12rem;
}

.profile {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  background-color: var(--white);
  position: relative;
}

.outer_circle {
  width: 33rem;
  height: 33rem;
  border: 3px solid var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name h1 {
  font-size: 7rem;
  font-weight: 400;
}

.name p {
  color: var(--black);
  font-size: 3rem;
  padding-top: 2rem;
}

.hero_contact {
  display: flex;
  justify-content: space-between;
  margin-top: 12rem;
}

.hero_contact_flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.hero_contact div div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.hero_contact div div span {
  font-size: 1.8rem;
}

.hero_contact div img {
  width: 2.5rem;
}

.hero_contact div a {
  font-size: 2.6rem;
}

/* ///////////////////////////////////SECTION-HERO-END//////////////////////////////////// */

/* ///////////////////////////////////SECTION-SKILLS-START//////////////////////////////////// */

.section_skills {
  position: relative;
}

/* ///////////////////////////////////SECTION-SKILLS-START//////////////////////////////////// */
