* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #2a2a2a;
  --area-bg: #f8f8f8;
  --orange: #ff8553;
  --orange-2: #ffe7de;
  --box-shadow-1: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --overlay-color: #ff85534d;
  --border-color: #e5e6e9;
  --svg-color: #8f9195;
}

::placeholder {
  font-family: 'DM Sans', sans-serif;
}

html {
  font-size: 10px;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  overflow: hidden;
}

.section_hidden {
  transform: translateY(10rem);
  opacity: 0;
}

/* ///////////////////////////////////SECTION-HERO-START//////////////////////////////////// */

.section_hero {
  background: url('./assest/images/hero_bg.webp');
  min-height: 80rem;
  font-family: 'Roboto Condensed', sans-serif;
  color: var(--white);
  padding: 0 2rem;
  transition: transform 1s, opacity 1s;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding: 2.5rem 0;
}

.nav_sticky {
  position: fixed;
  background-color: var(--orange);
  width: 100%;
  z-index: 100;
  left: 0;
  padding: 2rem 2rem;
}

.nav_left {
  font-size: 2.2rem;
}

.nav_middle {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  gap: 5rem;
}

.nav_middle a {
  position: relative;
  cursor: pointer;
}

.nav_middle a::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  top: 30px;
  left: 0;
  color: #fff;
  background-color: #fff;
  transition: width 0.3s ease-out;
}

.nav_middle a:hover::before {
  width: 100%;
}

.talk {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  border: 1px solid var(--white);
  border-radius: 3rem;
  background: none;
  padding: 1.2rem 3.6rem;
  color: var(--white);
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: inline-block;
}

.talk::before {
  width: 100%;
  height: 100%;
  content: '';
  background-color: var(--white);
  position: absolute;
  top: -5rem;
  left: 0;
  transition: top 0.3s ease;
  z-index: -1;
  transition: all 0.2s;
  overflow: hidden;
}

.talk:hover {
  color: var(--orange);
}
.talk:hover::before {
  top: 0;
}

.hero {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 8rem;
  margin-top: 12rem;
}

.profile {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  background-color: var(--white);
  position: relative;
}

.outer_circle {
  width: 33rem;
  height: 33rem;
  border: 3px solid var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name h1 {
  font-size: 7rem;
  font-weight: 400;
}

.name p {
  color: var(--black);
  font-size: 3rem;
  padding-top: 2rem;
}

.hero_contact {
  display: flex;
  justify-content: space-between;
  margin-top: 12rem;
}

.hero_contact_flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.hero_contact div div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.hero_contact div div span {
  font-size: 1.8rem;
}

.hero_contact div img {
  width: 2.5rem;
}

.hero_contact div a {
  font-size: 2.6rem;
}

/* ///////////////////////////////////SECTION-HERO-END//////////////////////////////////// */

/* ///////////////////////////////////SECTION-SKILLS-START//////////////////////////////////// */

.section_skills {
  position: relative;
  font-family: 'DM Sans', sans-serif;
  overflow: hidden;
  padding: 12rem 2rem 12rem 2rem;
  margin-top: 8rem;
  transition: transform 1s, opacity 1s;
}

.section_skills::before {
  content: '';
  position: absolute;
  width: 74%;
  height: 100%;
  background-color: var(--area-bg);
  border-radius: 0 90px 90px 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.title {
  font-size: 5rem;
  font-weight: 400;
}

.skills_content {
  display: flex;
  gap: 6rem;
  align-items: center;
  justify-items: center;
  margin-top: 3.5rem;
}

.skills_content_1,
.skills_content_2 {
  width: 50%;
}

.skills_content_1 p {
  font-size: 1.6rem;
  color: var(--black);
  line-height: 1.6;
  font-weight: 500;
  margin-bottom: 3.5rem;
}

.skills_content_1 h2 {
  font-size: 2.6rem;
  color: var(--orange);
}

.skills_content_2 {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.skill_name {
  font-size: 1.6rem;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-weight: 500;
}

.skill_name span {
  color: var(--orange);
}

.loading_bar {
  width: 100%;
  height: 4px;
  position: relative;
  background-color: var(--orange-2);
  border-radius: 20px;
}

.progress_bar {
  background-color: var(--orange);
  border-radius: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.progress_bar_1 {
  animation: progress_1 0.8s linear forwards;
}

.progress_bar_2 {
  animation: progress_2 0.8s linear forwards;
}

.progress_bar_3 {
  animation: progress_3 0.8s linear forwards;
}

@keyframes progress_1 {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

@keyframes progress_2 {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}

@keyframes progress_3 {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 6rem;
}

.slide {
  width: 8rem;
}

/* ///////////////////////////////////SECTION-SKILLS-END//////////////////////////////////// */

/* ///////////////////////////////////SECTION-WORKS-START//////////////////////////////////// */

.section_works {
  font-family: 'DM Sans', sans-serif;
  padding: 12rem 2rem 12rem 2rem;
  transition: transform 1s, opacity 1s;
}

.works_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
  row-gap: 3rem;
  justify-items: center;
  margin-top: 3.5rem;
}
.works_grid a {
  width: 100%;
  height: 100%;
}

.works_grid img {
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow-1);
}

figure.snip1193 {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: var(--orange);
  text-align: center;
  border-radius: 8px;
  box-shadow: var(--box-shadow-1);
  width: 100%;
  height: 100%;
}

figure.snip1193 * {
  transition: all 0.6s ease;
}

figure.snip1193 img {
  opacity: 1;
  display: block;
}

figure.snip1193 figcaption {
  font-family: 'DM Sans', sans-serif;
  font-size: 2.2rem;
  left: 0;
  right: 0;
  bottom: 3rem;
  margin: 10px 12px 5px;
  position: absolute;
  color: var(--black);
  opacity: 0;
  transition: all 0.8s;
  font-weight: 500;
}

figure.snip1193:hover img,
figure.snip1193.hover img {
  opacity: 0.6;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.snip1193:hover figcaption {
  opacity: 1;
}

.hide {
  display: none;
}

.show_btn_div {
  text-align: center;
  margin-top: 4rem;
}
.show_btn {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  border: 1px solid var(--orange);
  border-radius: 3rem;
  background: none;
  padding: 1.2rem 3.6rem;
  color: var(--orange);
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: inline-block;
}
.show_btn::before {
  width: 100%;
  height: 100%;
  content: '';
  background-color: var(--orange);
  position: absolute;
  top: -5rem;
  left: 0;
  transition: top 0.3s ease;
  z-index: -1;
}

.show_btn:hover {
  color: var(--white);
}
.show_btn:hover::before {
  top: 0;
}

/* ///////////////////////////////////SECTION-WORKS-END//////////////////////////////////// */

/* ///////////////////////////////////SECTION-CONTACT-START//////////////////////////////////// */

.section_contact {
  font-family: 'DM Sans', sans-serif;
  position: relative;
  padding: 8rem 2rem;
  transition: transform 1s, opacity 1s;
}

.section_contact::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--area-bg);
  border-radius: 50px;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  display: none;
}

.contact_flex {
  display: flex;
  gap: 15rem;
  align-items: center;
  margin-top: 3.5rem;
}

.form {
  width: 100%;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  justify-content: center;
}

.form form textarea {
  padding-top: 2rem;
  resize: vertical;
}

.form form textarea,
.form form input {
  width: 100%;
  border: 1px solid var(--border-color);
  font-size: 1.3rem;
  padding-left: 1.8rem;
}

.form form input {
  height: 4.8rem;
}

.contact_flex_2 {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}

#submit {
  width: 20%;
  height: 4.8rem;
  padding: 0 4.4rem;
  color: var(--orange);
  border: 1px solid var(--orange);
  background: none;
  position: relative;
  overflow: hidden;
  transition: all 0.2s;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
}

#submit::before {
  width: 100%;
  height: 100%;
  content: '';
  background-color: var(--orange);
  position: absolute;
  top: -6rem;
  left: 0;
  transition: top 0.3s ease;
  z-index: -1;
}

#submit:hover {
  color: var(--white);
}
#submit:hover::before {
  top: 0;
}

.contact_right_content {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact_right_content div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.contact_right_content div a {
  text-decoration: none;
  font-size: 1.6em;
}

.contact_right_content div svg {
  width: 6%;
  fill: var(--orange);
}

/* ///////////////////////////////////SECTION-CONTACT-END//////////////////////////////////// */

/* ///////////////////////////////////SECTION-FOOTER-START//////////////////////////////////// */

footer {
  background-color: #2a2a2a;
  font-family: 'DM Sans', sans-serif;
  padding: 8rem 2rem;
  padding-bottom: 0;
  transition: transform 1s, opacity 1s;
}

footer h1 {
  color: var(--orange);
  font-size: 3rem;
}

footer p {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  font-size: 1.8rem;
  color: var(--white);
}

.footer_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_content_1 {
  width: 50%;
}

.footer_content_2 {
  align-self: flex-start;
}

.footer_imgs {
  display: flex;
  align-items: center;
  width: 40%;
}

.footer_imgs a svg {
  width: 34%;
  fill: var(--orange);
}

.copyright {
  font-size: 1.4rem;
  line-height: 2;
  font-weight: 300;
  margin-top: 10rem;
}

.footer_btns {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer_btn_1 {
  border: 1px solid var(--white);
  padding: 1.2rem 3rem;
  background: none;
  border-radius: 3rem;
  color: var(--white);
  letter-spacing: 1px;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.footer_btn_2 {
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  border-radius: 3rem;
  background-color: var(--orange);
  padding: 1.2rem 3rem;
  color: var(--white);
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: inline-block;
}

.footer_btn_2 ::before {
  width: 100%;
  height: 100%;
  content: '';
  background-color: var(--orange);
  position: absolute;
  top: -6rem;
  left: 0;
  transition: all 0.3s ease;
  z-index: -1;
}

.footer_btn_1:hover {
  color: var(--orange);
}

.footer_btn_2:hover {
  background-color: #f7733e;
}

.footer_navs {
  margin-top: 21.5rem;
  color: var(--white);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.footer_navs a {
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.footer_navs a::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  top: 30px;
  left: 0;
  color: #fff;
  background-color: #fff;
  transition: width 0.3s ease-out;
}

.footer_navs a:hover::before {
  width: 100%;
}
/* ///////////////////////////////////SECTION-FOOTER-START//////////////////////////////////// */
